@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body, * {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

html {
    background-color: #333333;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
}